@import "bourbon/bourbon";

@mixin fullScreen {
  width: 100%;
  height: 100%;
  margin: 0;
}

@mixin foldedRectangleGroup ($width, $height){
  width: $width;
  height: $height;
  display: inline-flex;
  background-color: blue;
}

@mixin foldedRectangle($bgColor) {
  background-color: $bgColor;
}

@mixin foldedCorner($size, $bgColor, $cornerColor){
  position: relative;
  &:after{
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-width: $size $size $size $size;
    border-color: $cornerColor $cornerColor $bgColor $bgColor;
    border-style: solid;
  }
}

html, body, .rectangles-container {
  @include fullScreen;
}

.rectangles-container div {
  @include foldedRectangleGroup(100px, 150px);
}



$rectangleColor: (#F8D501, #C6D522, #CD4596);
$foldCornerColor: (#73BCDF, #FEB15F, #A2BECA);
@for $i from 1 through length($rectangleColor) {
  .rectangles-container #rect-#{$i}{
    @include foldedRectangle(nth($rectangleColor, $i));
    margin: 50px;
    @include foldedCorner(20px, #FFF, nth($foldCornerColor, $i));
  }
}
