html, body, .rectangles-container {
  width: 100%;
  height: 100%;
  margin: 0; }

.rectangles-container div {
  width: 100px;
  height: 150px;
  display: inline-flex;
  background-color: blue; }

.rectangles-container #rect-1 {
  background-color: #F8D501;
  margin: 50px;
  position: relative; }
  .rectangles-container #rect-1:after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-width: 20px 20px 20px 20px;
    border-color: #73BCDF #73BCDF #FFF #FFF;
    border-style: solid; }

.rectangles-container #rect-2 {
  background-color: #C6D522;
  margin: 50px;
  position: relative; }
  .rectangles-container #rect-2:after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-width: 20px 20px 20px 20px;
    border-color: #FEB15F #FEB15F #FFF #FFF;
    border-style: solid; }

.rectangles-container #rect-3 {
  background-color: #CD4596;
  margin: 50px;
  position: relative; }
  .rectangles-container #rect-3:after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-width: 20px 20px 20px 20px;
    border-color: #A2BECA #A2BECA #FFF #FFF;
    border-style: solid; }

/*# sourceMappingURL=style.css.map */
